.route-info{
    height:50vh;
    width:50vw;
    margin: 0 25vw;
    display:grid;
    grid-template-columns: 50% 50%;
}

h2 {
    margin:0;
    padding: 0;
}

span {
    font-family: monospace;
}

.metadata {
    background-color: rgb(250,250,250);
    grid-column: 1 / 3;
}

.airport-box, .metadata {
    border: 2px black solid;
    border-collapse: collapse;
    padding: 2em;
}

.airport-box {
    background-color: rgb(210,210,210);
}