:root {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(227, 239, 253);
}
h1 {
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
}
h2 {
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
}
p, b {
    font-family: sans-serif;
}
a {
    color:rgb(0, 122, 192);
    text-decoration: underline;
}
#map {
    height:50vh;
    width:50vw;
    margin: 0 25vw;
}

.popup * {
    color: #333333;
}

a.popup, a.popup:first-child {
    display: block;
    color: #333333;
    text-decoration: none;
}

a.popup-link {
    color:rgb(44, 195, 255);
    text-decoration: underline;
}